<!-- Hero slider for highlights -->
<!--
<section class="hero">
  <ngb-carousel *ngIf="movies && movies.items">
    <ng-template ngbSlide *ngFor="let movie of movies.items">
      <img class="img-fluid carousel-image" [src]="movie.imageLandscapeUrl[0]" alt='{{movie.title[0]}}'>
      <div class="carousel-caption">
        <h3>{{movie.title[0]}} ({{movie.year}})</h3>
        <h4>IMDb {{movie.ratingCritic}}</h4><span>Genre: {{movie.genre[0]}}</span>
        <div class="truncate-text">{{movie.plot[0]}}</div>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
-->
